@charset "utf-8";


    .card  {
     height: 80vh;
     background-color: rgb(255, 255, 255);
    }
    p:nth-child(2n+1) {
     background-color: #ccffcc;
  }
  
  .form_box_flex{
     display: flex;

  }

  select{
     padding: 0.4em;
     height: inherit;
  }
  
  .form-group, select{
     padding-right: 0.8em;
     border-bottom: #b2b2b2 0.8px solid;
     margin-bottom: 0.8em;
     /* display: flex; */
  }
  
  .button_mod{
     padding: 0.4em;
  }

  th{
     padding: 0.6em;
  }

  .col-md-2 text-md-right{
   font-size: 400px;
  }
  .col-sm-2 img{
   width: 150px;
  }

  