@charset "utf-8";

html {
     font-family:”ヒラギノ角ゴ Pro W3″,”ＭＳ Ｐゴシック”,sans-serif;
     /* background-color: rgb(243, 237, 236); */
     /* background-color: rgba(255, 255, 255, 0.483); */
     /* background-color: rgb(163, 111, 109); */
     /* background-image: url(../img/cola.png); */
     /* background-size: 100% 100%; */
    }
   main{
      height:89vh;
   }
    .card  {
     /* height: 83vh; */
     background-color: rgb(255, 255, 255);
    }
    p:nth-child(2n+1) {
     background-color: #ccffcc;
  }
  .form_box_flex{
     display: flex;

  }

  select{
     padding: 0.4em;
     height: inherit;
  }
  .form-group, select{
     padding-right: 0.8em;
     margin-bottom: 0.6em;
  }
  .button_mod{
     padding: 0.4em;
  }

  th{
     padding: 60em;
     border-right: solid 2px rgb(255, 255, 255);
  }

  tr{
   vertical-align: baseline;
}

  .searchflex{
   display: flex;
   justify-content: flex-end;
  }

  .flex {
   display: flex;
   justify-content: center;
   position: relative;
   top: -8px;
}

  input, button, select, optgroup, textarea {
   margin: 0;
   font-family: inherit;
   font-size: inherit;
   border: var(--bs-border-width) solid var(--bs-border-color);
   line-height: inherit;
}

.required{
   color: rgb(255, 0, 72);
   /* font-size: 0.8em; */
   padding-left:0.1em;
   vertical-align: top;
   box-sizing: border-box;
}

/* セレクト要素の矢印 */

select{
   position: relative;
   padding: 10px;
   width: 100%;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 }
 
 .select-wrap {
     position: relative;
     width: 100%;
 }
 
 .select-wrap:after {
   content: "";
     position: absolute;
     right: 25px;
     top: 13px;
     width: 10px;
     height: 10px;
     border-top: 2px solid #ccc;
     border-left: 2px solid #ccc;
     transform: translateY(-50%) rotate(
 -135deg
 );
   font-size: 20px;
   pointer-events: none;
 }

 .select-wrap-list {
   position: relative;
   width: 50%;
}

.select-wrap-list:after {
 content: "";
   position: absolute;
   right: 25px;
   top: 13px;
   width: 10px;
   height: 10px;
   border-top: 2px solid #ccc;
   border-left: 2px solid #ccc;
   transform: translateY(-50%) rotate(
-135deg
);
 font-size: 20px;
 pointer-events: none;
}

.search{
   margin-top: 7px;
   margin-bottom: 15px;
}

.search_keyword, .search_maker{
   width: 150px;
   padding-right: 1em;
   margin-left: 0.4em;
}

.price-input, .store-input{
   padding-right: 1em;
   margin-left: 0.4em;
}

.min-price, .max-price, .min-store, .max-store{
   width: 75px;
}

.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance:textfield;
}

.vertical-middle {
   padding: 6px 3px;
   font-size: 12px;
}

.form-control {
   padding: 0.25rem .5rem;
   font-size: .7875rem;
   border-radius: var(--bs-border-radius-sm);
}

thead{
  background-color: rgb(58, 52, 43);
}

/* .new-btn{
   width: 120px; 
   position: relative;
   left: 50px;
} */

td.img_list img{
   height: 35px;
}

.table {
   border-bottom: #b2b2b2 0.8px solid;
/* border-bottom:solid 1px black ; */

--bs-table-striped-bg: rgba(white, 1);
--bs-table-bg: #ffffff;
}

tr{
   background-color: rgb(255, 255, 255);
}

/* body{    background-color: #f8fafc00;
   background-image: url(../img/cola.png);s
   background-color: rgb(243, 237, 236);
   background-size: auto 130%; 
} */
body{    background-color: #f8fafc00;
   background-image: url(../img/back.png),  linear-gradient(45deg, rgba(243, 196, 170, 1), rgba(228, 81, 154, 1) 50%, rgb(171, 175, 255));
   /* background-color: rgb(75, 75, 75); */
     /* background-color: rgb(169, 71, 71);  */
  background-blend-mode:lighten;
   background-size: auto 100%; 
   background-attachment: fixed;
}

.card{
   background-color: rgba(255, 255, 255);
      --bs-card-spacer-y: 3rem;
      --bs-card-spacer-x: 2.8rem;
}

.btn_width{
   width: 100px;
}

.btn_adj{
   text-align: end;
   /* display: flex; */
   /* justify-content: flex-end; */
}

.img_pos{
   text-align: center;
}
/* ペジネーション */
svg {
   vertical-align: middle;
   width: 25px;
}
p:nth-child(2n+1) {
   background-color: #d1bafc;
}

.px-4 {
   padding-right: 0.5rem !important;
   padding-left: 0.5rem !important;
}

a {
   color: rgb(202 55 162);
   text-decoration: underline;
}
.border {
   border: solid,rgba(255, 255, 255, 0) 0px;
}
p {
   margin-top: 0;
   margin-bottom: 0rem;
}
p:nth-child(2n+1) {
   display: none;
   background-color: #d1bafc;
}

.icon_img{
   width: 20px;
   border: none;
}

.col-md-8 {
   flex: 0 0 auto;
   width: 80%;
}

.card {
   background-color: rgba(255, 255, 255);
   --bs-card-spacer-y: 3rem;
   --bs-card-spacer-x: 4.8rem;
}

.tablesorter-default .header, .tablesorter-default .tablesorter-header {
   background-color: #f1f0f1a8;
   background-position: center right;
   background-repeat: no-repeat;
   cursor: pointer;
   white-space: normal;
   /* padding: -1px 2px 4px 2px; */
}

.sorter-false {
   background-image: none;
}
.sorter-border-light {
   border-right: #b2b2b2;
}

.tablesorter-default td {
   background-color: #fff;
   border-bottom: #ccc 1px solid;
   padding: 5px;
   vertical-align: middle;
}

.btn {
   --bs-btn-padding-x: 0.4rem;
   --bs-btn-padding-y: 0.275rem;
}

@media screen and (max-width:480px) { 
   html {
      font-size: 14px;
   }

   .search {
      margin-top: 0px;
      margin-bottom: 0px;
  }

   .card  {
      margin: 0;
      width: 100vw;
      height: 100vh;
      padding:0 ;
      background-color: rgb(255, 255, 255);}
      py-4 {
         padding-top: -0.5rem !important;
         padding-bottom: -0.5rem !important;
     }
      .card-body {
         padding: 17px;
      }
      .row>* {
         flex-shrink: 0;
         width: 100%;
         max-width: 100%;
         padding-right: calc(var(--bs-gutter-x)* .0);
         padding-left: calc(var(--bs-gutter-x)* .0);
         margin-top: var(--bs-gutter-y);
     }
     px-4 {
      padding-right: 0.1rem !important;
      padding-left: 0.1rem !important;
  }
  .table>:not(caption)>*>* {
   padding: 0.2rem;}
   th {
      font-size: 12px;
      padding: 0em;
  }

   .py-2 {
      font-size: 0.7em;
      margin-top: 10px;
      padding-top: .1rem !important;
      padding-bottom: .1rem !important;
  }
  .btn {
   --bs-btn-padding-x: 0.3rem;
   --bs-btn-padding-y: 0.2rem;
   --bs-btn-font-size: .8rem;
}
.btn_width {
   width: 45px;
}

}

@media screen and (min-width:768px) and ( max-width:1024px) {
   .container-lg, .container-md, .container-sm, .container {
      max-width: 1024px;
  }
  

}
@media screen and (min-width:1024px) {
 
} 