@charset "utf-8";

html {
     font-family:”ヒラギノ角ゴ Pro W3″,”ＭＳ Ｐゴシック”,sans-serif;
     background-color: rgb(243, 237, 236);
     /* background-color: rgb(255, 255, 255); */
     /* background-color: rgb(163, 111, 109); */
     /* background-image: url(../img/cola.png); */
     /* background-size: 100% 100%; */
    }

    .card  {
     height: 80vh;
     background-color: rgb(255, 255, 255);
    }
    p:nth-child(2n+1) {
     background-color: #ccffcc;
  }
  .form_box_flex{
     display: flex;

  }

  select{
     padding: 0.4em;
     height: inherit;
  }
  .form-group, select{
     padding-right: 0.8em;
     margin-bottom: 0.6em;
  }
  .button_mod{
     padding: 0.4em;
  }

  th{
     padding: 0.6em;
  }
  tr{vertical-align: baseline;}

  .searchflex{
   display: flex;
   justify-content: flex-end;
  }

  .flex {
   display: flex;
   justify-content: center;
   position: relative;
   top: -8px;
}

  input, button, select, optgroup, textarea {
   margin: 0;
   font-family: inherit;
   font-size: inherit;
   border: var(--bs-border-width) solid var(--bs-border-color);
   line-height: inherit;
}

.required{
   color: rgb(255, 0, 72);
   /* font-size: 0.8em; */
   padding-left:0.1em;
   vertical-align: top;
   box-sizing: border-box;
}

/* セレクト要素の矢印 */

select{
   position: relative;
   padding: 10px;
   width: 100%;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 }
 
 .select-wrap {
     position: relative;
     width: 100%;
 }
 
 .select-wrap:after {
   content: "";
     position: absolute;
     right: 25px;
     top: 13px;
     width: 10px;
     height: 10px;
     border-top: 2px solid #ccc;
     border-left: 2px solid #ccc;
     transform: translateY(-50%) rotate(
 -135deg
 );
   font-size: 20px;
   pointer-events: none;
 }

 .select-wrap-list {
   position: relative;
   width: 50%;
}

.select-wrap-list:after {
 content: "";
   position: absolute;
   right: 25px;
   top: 13px;
   width: 10px;
   height: 10px;
   border-top: 2px solid #ccc;
   border-left: 2px solid #ccc;
   transform: translateY(-50%) rotate(
-135deg
);
 font-size: 20px;
 pointer-events: none;
}

.search{
   margin-top: 7px;
   margin-bottom: 15px;
}

.search_keyword, .search_maker{
   width: 200px;
}

thead{
  background-color: rgb(58, 52, 43);
}

/* .new-btn{
   width: 120px; 
   position: relative;
   left: 50px;
} */

td.img_list img{
   height: 35px;
}

.table {
   border-bottom: #b2b2b2 0.8px solid;
/* border-bottom:solid 1px black ; */

--bs-table-striped-bg: rgba(white, 1);
--bs-table-bg: #ffffff;
}

tr{
   background-color: rgb(255, 255, 255);
}

/* body{    background-color: #f8fafc00;
   background-image: url(../img/cola.png);s
   background-color: rgb(243, 237, 236);
   background-size: auto 130%; 
} */
body{    background-color: #f8fafc00;
   background-image: url(../img/back.png);
   /* background-color: rgb(75, 75, 75); */
     background-color: rgb(169, 71, 71); 
  background-blend-mode:lighten;
   background-size: auto 60%; 
}

.card{
   background-color: rgba(255, 255, 255);
      --bs-card-spacer-y: 1rem;
      --bs-card-spacer-x: 2.8rem;
}

.btn_width{
   width: 100px;
}

.btn_adj{
   text-align: end;
   /* display: flex; */
   /* justify-content: flex-end; */
}

.img_pos{
   text-align: center;
}